<!DOCTYPE html>
<html>
<head>
	<title>Smart Home</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
	
<body>


	<nav id = "navigation">
		<ul>
			<li class="nav-li"><a href="index.html">Home</a></li>
			<li class="nav-li"><a href="temperature.html">Temperature Sensor</a></li>
			<li class="nav-li"><a href="led.html">LED OnOFF</a></li>
			<li class="nav-li"><a href="humidity.html">Humidity</a></li>
		</ul>
	</nav>
		
	<div id="jumbo">
		<p></p>
	</div>
	
	<main class="info">
	<h2>author: Weida Fan , Phil</h2>
	<h3>date:11/3/2017</h3><br>
		<h1>LED</h1>
		
<p> <b> The Led status is:  </b>
</p>

	</main>
	<footer>

	</footer>
</body>

</html>
